.header {
  height: 34vw;
  margin: 30px auto;
  background: url('/header.jpg') no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 20px;
}

.header-contents {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5vw;
  max-width: 50%;
  bottom: 10%;
  left: 6vw;
  color: white;
  animation: fadeIn 4s;
}

.header-contents h2 {
  font-size: max(4.5vw,22px);
  font-weight: 500;
}

.header-contents p {
  font-size: 1.2vw;
  line-height: 1.6;
  font-size: 1vw;
}

.header-contents button {
  background: orangered;
  color: white;
  padding: 10px 25px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 1vw;
  transition: 0.3s;
}

.header-contents button:hover {
  background: darkred;
}
@media(max-width:1050px){
  .header-contents{
    max-width: 45%;
  }
}
@media(max-width:750px){
  .header-contents{
    max-width: 65%;
  }
  .header-contents p{
    display: none; 
  }
  .header-contents button{
    padding: 2vw 4vw;
  }
}